@import "compass/reset";
@import "compass/css3";

/* SASS */

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}
$buttonRadius: 7px;
$buttons: 8;
$stop1: 60%;
$stop2: 80%;
$stop3: 100%;

/* LAYOUT - size, positioning, visibility, behavior */

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
@include keyframes('fadeInLeft') {
	0% {
		opacity: 0;
	}
	#{$stop3} {
		opacity: 1;
	}
}
.buttonShowHide {
	display: none;
}
.listShowHide:hover {
	DIV {
		display: block;
		visibility: visible;
	}
}
#gameListButton DIV.gameButton:first-of-type { animation: none; }
#gameListButton:hover {
	height: auto;
	.gameButton {
		display: block;
		visibility: visible;
		
		-webkit-animation-name: fadeInLeft;
		-moz-animation-name: fadeInLeft;
		-ms-animation-name: fadeInLeft;
		-o-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
		
		-webkit-animation-duration: 400ms;
		-moz-animation-duration: 400ms;
		-ms-animation-duration: 400ms;
		-o-animation-duration: 400ms; 
		animation-duration: 400ms;
		
		@for $i from 1 through $buttons {
			&:nth-of-type(#{$i}) {
				-webkit-animation-delay: #{$i * 50}ms;
				-moz-animation-delay: #{$i * 50}ms;
				-ms-animation-delay: #{$i * 50}ms;
				-o-animation-delay: #{$i * 50}ms;
				animation-delay: #{$i * 50}ms;
			}
		}
	}
}
.comment {
	&:hover {
		DIV.arrowUp, DIV.arrowDown { display: inline-block; }
	}
}

/* APPEARANCE */

::-webkit-textarea-placeholder { color: #373737; }
::-webkit-input-placeholder { color: #373737; }
:-moz-placeholder { color: #373737; }
::-moz-placeholder { color: #373737; }
:-ms-textarea-placeholder { color: #373737; }
:-ms-input-placeholder { color: #373737; }
.selectDisabled {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.addCharSubmit {
	@include box-shadow(-1px 1px 0 #175217,
		0px 2px 0 rgba(1,1,1,0.6));
}
.stripe1 {
	background-color: rgb(181,189,200); 
	@include filter-gradient(#b5bdc8, #28343b, vertical);
	@include background-image(linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%));
	-ms-border-radius: 4px;
	@include border-radius(4px);
}
.signupButton {
	@include box-shadow(-2px 2px 0 #442F17);
	text-shadow: 2px 2px #797979;
	&:hover {
		cursor: pointer;
		color: #FFFF00;
		@include box-shadow(-2px 2px 0 #442F17);
		text-shadow: 2px 2px 1px #000000;
	}
	&:active {
		margin: 14px 4px 0 12px;
		border: none;
		@include box-shadow(-1px 1px 0 #442F17);
	}
}
.gameButton {
	@include box-shadow(0px -1px 14px rgba(111,111,111, 0.5),
		inset 0px 0px 10px rgba(0,0,0,1),
		inset 0px -5px 1px rgba(0,0,0,.4),
		inset 0px -2px 1px);
	&:hover {
		@include box-shadow(inset 0 -2px 20px rgba(255,255,255, 0.2),
		inset 0px 8px 0 rgba(255, 255, 255, 0.3),
		inset 0px 1px 1px rgba(255, 255, 255, 1),
		0px 0px 10px rgba(255,255,255, 0.6));
	}
	&:active {
		@include box-shadow(0px -1px 10px rgba(255,255,255, 0.6));
	}
}
.gamesNav .gameButton {
	&:first-of-type  { @include border-top-left-radius($buttonRadius); }
	&:nth-of-type(4) { @include border-right-radius($buttonRadius); }
	&:nth-of-type(5) { @include border-bottom-left-radius($buttonRadius); }
	&:last-of-type   { @include border-bottom-right-radius($buttonRadius); }
}
.popupWindow {
	background-color: rgb(174,188,191);
	@include filter-gradient(#aebcbf, #0a0809, vertical);
	@include background-image(linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 7%,rgba(10,8,9,1) 100%));
	background-size: 100% 200%;
	@include box-shadow(-2px 2px #2B2B2B,
			inset -1px 0 1px rgba(0,0,0,0.3));
}
.comment {
	.arrowUp, .arrowDown {
		&:hover { .square { background-color: #5D5D5D; } }
		&:active { .square { background-color: #272727; } }
	}
	.arrowUp {
		&:hover { .triangle { border-bottom-color: #5D5D5D; } }
		&:active { .triangle { border-bottom-color: #272727; } }
	}
	.arrowDown {
		&:hover { .triangle { border-top-color: #5D5D5D; } }
		&:active { .triangle { border-top-color: #272727; } }
	}
}

/* TYPOGRAPHY */

@font-face {
    font-family: 'HeavyData';
    src: url('../fonts/heavy_data-webfont.eot');
    src: url('../fonts/heavy_data-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heavy_data-webfont.woff') format('woff'),
         url('../fonts/heavy_data-webfont.ttf') format('truetype'),
         url('../fonts/heavy_data-webfont.svg#HeavyDataRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bigNoodleTitling';
    src: url('../fonts/big_noodle_titling-webfont.eot');
    src: url('../fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'crystalDeco';
    src: url('../fonts/crystal_deco-webfont.eot');
    src: url('../fonts/crystal_deco-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/crystal_deco-webfont.woff') format('woff'),
         url('../fonts/crystal_deco-webfont.ttf') format('truetype'),
         url('../fonts/crystal_deco-webfont.svg#crystal_decoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
    font-family: 'kenyanCoffee';
    src: url('../fonts/kenyan_coffee_rg-webfont.eot');
    src: url('../fonts/kenyan_coffee_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kenyan_coffee_rg-webfont.woff') format('woff'),
         url('../fonts/kenyan_coffee_rg-webfont.ttf') format('truetype'),
         url('../fonts/kenyan_coffee_rg-webfont.svg#kenyan_coffeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-familiy: 'Calibri';
	src: url('../fonts/CALIBRI.TTF') format('truetype');
}
//@include font-face("Calibri", font-files("../fonts/CALIBRI.TFF", "truetype"));